body {
  background: #dbeefe;
  
}
#root{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
}
