.TodoItem{
    padding: .9em;
    display: flex;
    align-items: center;
    position: relative;
    color: #869399;
    font-weight: 590;
    font-size: 1em;
}
.TodoItem > .title{
    display: inline-block;
    flex-grow: 1;
    padding: 0 1em;
    
}
.TodoItem > label >.icon{
    color: #00abf5;
    margin-left: 1em;
    opacity: 0.5;
}
.TodoItem > label >.icon:hover{
	opacity: 1;
}

.TodoItem > svg {
    position: absolute;
    right: 5%;
    cursor: pointer;
}


.TodoItem >.checked{
	text-decoration: line-through;
    opacity: 0.4;
    
}
.TodoItem >.checked .icon{
    color: #869399;
    background-image: url(./img/check.png);
    background-position: center center;
    background-size: cover; 
    display: inline-block;
	
	opacity: 1;
}



